/*====== NAVIGATION LOGIN BTNs ======*/
#navigation-container .btn-wrapper {

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 20%;
    height: 70%;
    
    /*border: 1px solid black;*/
}

#navigation-container .btn-wrapper .button-container {
    width: 45%;
    height: 100%;
    position: relative;
    border-radius: 10%;
    transition: 0.6s;
    /*border: 1px solid black;*/
}

#navigation-container .btn-wrapper .btn {
    height: 100%;
    width: 100%;
    /*transform: translate(-50%, -50%);*/
    background-color: transparent;
    border-radius: 10%;
    color: #e5fddd;
    font-weight: 700;
    text-transform: uppercase;
}

#navigation-container .btn-wrapper .button-container .login-btn {
    border: 2px solid var(--gradient1);
}
#navigation-container .btn-wrapper .login-container:hover {
    background-color: var(--gradient1);
}

#navigation-container .btn-wrapper .button-container .register-btn {
    border: 2px solid var(--gradient2);
}
#navigation-container .btn-wrapper .register-container:hover {
    background-color: var(--gradient2);
}